h1.white Tjäna mynt
br
.form
    form action="/earn_coins" method="post"
        input type="number" min="1" max="5" name="amount" placeholder="Hur många mynt vill du tjäna?"
        input#create_player type="submit" value="Lägg till mynt"