* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(170, 224, 255);
}

.links {
  font-size: 20px;
  text-decoration: underline;
  color: black;
}

footer {
  width: 99%;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
}

#link_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#best_teams {
  border: 3px black dotted;
  width: 33%;
  height: 100px;
}

#logout {
  background-color: lightgreen;
  font-size: 18px;
  border-radius: 10px;
}

.wrapper {
  margin-bottom: 20px;
  width: 250px;
  height: 350px;
  border-radius: 5px;
  position: relative;
  background-image: url('/misc/fifa_card.png');
  background-repeat: no-repeat;
}

#card_container {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

#rating {
  position: absolute;
  left: 56px;
  top: 2px;
  font-weight: 500;
  font-size: 28px;
}

#position {
  position: absolute;
  left: 46px;
  top: 52px;
  font-size: 16px;
}

#nation {
  position: absolute;
  top: 65px;
  left: 30px;
  width: 40px;
  height: 40px;
}

#club {
  font-weight: bold;
  position: absolute;
  left: 35px;
  top: 108px;
  font-size: 16px;
  width: 70px;
  height: 70px;
}

#face {
  position: absolute;
  left: 94px;
  top: 40px;
  width: 140px;
  height: 140px;
}

#name {
  position: absolute;
  top: 149px;
  left: 73px;
  font-size: 26px;
  font-weight: 500;
}

.stat {
  position: absolute;
}

#stat1 {
  left: 99px;
  top: 230px;
}

#stat2 {
  left: 100px;
  top: 210px;
}

#stat3 {
  left: 88px;
  top: 191px;
}

.wrapper button {
  position: absolute;
  top: 271px;
  left: 88px;
}

.input_styling {
  font-size: 16px;
  border-radius: 10px;
  padding: 5px;
}

#choose_rating {
  text-align: center;
}

#choose_image {
  border: 1px black solid;
  background-color: white;
}

#red {
  color: red;
}

#border_club {
  border: 3px black solid;
  width: 240px;
  padding: 10px;
  background-color: lightyellow;
}

#border_image {
  border: 3px black solid;
  width: 240px;
  padding: 10px;
  background-color: lightgreen;
}

#player_names, #player_faces {
  border-left: 3px black solid;
  border-right: 3px black solid;
  width: 1000px;
  background-color: lightgreen;
  display: flex;
  justify-content: space-evenly;
}

#player_names {
  margin-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 3px black solid;
}

#player_faces {
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 3px black solid;
}

#player_clubs, #club-pics {
  border-left: 3px black solid;
  border-right: 3px black solid;
  width: 1400px;
  background-color: lightyellow;
  display: flex;
  font-size: 15px;
  justify-content: space-around;
}

#player_clubs {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
  border-top: 3px black solid;
}

#club-pics {
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 3px black solid;
}

.player_faces{
  height: 90px;
  width: 90px;
}

.player_club {
  height: 70px;
  width: 70px;
}