* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(21,32,43);
}

#white {
  color: white;
}

footer {
  width: 99%;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
}

#link_container {
  /* background-color: black; */
  margin: 0 auto;
  display: flex;
  width: auto;
  align-items:center;
  justify-content: space-around;
}

.links {
  font-size: 20px;
  color: white;
  border: 1px solid white;
  border: none;
  height: 50px;
  width: fit-content;
  margin-top: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links:hover {
  background-color: rgb(21,32,43);
  border: 1px solid white;
  background-color: antiquewhite;
  color: black;
}

#logout {
  background-color: lightgreen;
  font-size: 18px;
  border-radius: 10px;
}

#card_container {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

/* kort styling */
#fifa_card {
  width: 250px;
  height: 330px;
  position: relative;
  background-image: url('/misc/fifa_card.png');
}

#rating {
  position: absolute;
  left: 56px;
  font-weight: 500;
  top: 21px;
  font-size: 30px;
}

#position {
  position: absolute;
  left: 40px;
  top: 65px;
  font-size: 19px;
  font-weight: 500;
}

#club {
  position: absolute;
  left: 35px;
  top: 108px;
  height: 55px;
}

#face {
  position: absolute;
  left: 95px;
  top: 62px;
  height: 120px;
}

#name {
  position: absolute;
  top: 175px;
  left: 85px;
  font-size: 26px;
  font-weight: 500;
  bottom: 72px;
}

#stats_name {
  display: flex;
  width: 144px;
  height: 142px;
  /* background-color: aquamarine; */
  opacity: 0.7;
  position: absolute;
  /* justify-content: space-between; */
  top: 167px;
  left: 92px;
}

.stat {
  position: absolute;
}

#stat1 {
  bottom: 20px;
}

#stat2 {
  bottom: 40px;
}

#buy_card {
  position: absolute;
  bottom: 30px;
  right: 80px;
  height: auto;
  width: 80px;
  background-color: lightgreen;
}

#update_card {
  position: absolute;
  right: 68px;
  top: 241px;
  background-color: lightblue;
  text-decoration: none;
  font-size: 14px;
  color: black;
  border: 1px solid black;
}

#delete_card {
  position: absolute;
  bottom: 31px;
  right: 75px;
  width: 88px;
  height: auto;
  background-color: rgb(201, 101, 101);
}

#goto_card {
  height: 100px;
  width: 100px;
  color:red;
}

#card_owner {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 67px;
  background-color: antiquewhite;
}

.input_styling {
  font-size: 16px;
  border-radius: 10px;
  padding: 5px;
}

#choose_rating {
  text-align: center;
}

#choose_image {
  border: 1px black solid;
  background-color: white;
}

/* #red {
  color: red;
} */

#border_club {
  border: 3px black solid;
  width: 240px;
  padding: 10px;
  background-color: lightyellow;
}

#border_image {
  border: 3px black solid;
  width: 240px;
  padding: 10px;
  background-color: lightgreen;
}

#player_names, #player_faces {
  border-left: 3px black solid;
  border-right: 3px black solid;
  width: 1000px;
  background-color: lightgreen;
  display: flex;
  justify-content: space-evenly;
}

#player_names {
  margin-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 3px black solid;
}

#player_faces {
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 3px black solid;
}

#player_clubs, #club-pics {
  border-left: 3px black solid;
  border-right: 3px black solid;
  width: 1400px;
  background-color: lightyellow;
  display: flex;
  font-size: 15px;
  justify-content: space-around;
}

#player_clubs {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
  border-top: 3px black solid;
}

#club-pics {
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 3px black solid;
}

.player_faces {
  height: 90px;
  width: 90px;
}

.player_club {
  height: 70px;
  width: 70px;
}

#all_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.submit {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  opacity: 0.7;
  transition: 0.5s;
}

.submit:hover {
  cursor: pointer;
  opacity: 1;
}

/* flash styling  */

.flash_error {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 10px;
  font-weight: 500;
  color: black;
  background-color: lightcoral;
}

.flash_no_such_user {
  z-index: 2;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  color: red;
  position: absolute;
  left: 640px;
  top: 322px;
}

.flash_wrong_pass {
  z-index: 2;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  color: red;
  position: absolute;
  left: 640px;
  top: 411px;
}

.flash_register_sucess {
  margin-top: 10px;
  animation: flash 2s ease-in;
  animation-iteration-count: 5;
  color: green;
  font-size: 1.2rem;
  margin-left: 10px;
  font-weight: 500;
}

.flash_wrong_confirm {
  color: red;
  top: 310px;
  left: 3px;
  font-size: 15px;
  position: absolute;
  font-weight: 500;
}

.flash_username_exist {
  color: red;
  top: 155px;
  left: 3px;
  font-size: 15px;
  position: absolute;
  font-weight: 500;
}

@keyframes flash {
    
    0% {
      opacity: 0;
    }

    33% {
      opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Login Styling */

.login {
  /* width: 360px; */
  padding: 8% 0 0;
  /* margin: auto; */
  /* font-family: 'Comfortaa', cursive; */
}

#logga_in, #registrera_dig {
  text-align: left;
  font-size: 30px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  /* text-align: center; */
}

.form input {
  /* outline: 0; */
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  /* box-sizing: border-box; */
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  font-family: 'Comfortaa', cursive;
  /* text-transform: uppercase; */
  /* outline: 0; */
  width: 100%;
  /* border: 0; */
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}