* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(21,32,43);
  overflow: hidden;
  overflow-y: auto;
}

#sitename {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.white {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
}

footer {
  width: 99%;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
}

#create_today {
  color: lightgreen;
  text-align: center;
  text-decoration: none;
}

#create_today:hover {
  color: lightgreen;
  text-decoration: underline;
}

/* kort styling */
#fifa_card {
  width: 250px;
  height: 330px;
  position: relative;
  background-image: url('/misc/fifa_card.png');
}

.flex {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 80vh;
}

#one_card {
  height: 325px;
  width: 250px;
  position: relative;
  background-image: url('/misc/fifa_card.png');
}

#rating {
  position: absolute;
  left: 56px;
  font-weight: 500;
  top: 21px;
  font-size: 30px;
}

#position {
  position: absolute;
  left: 40px;
  top: 65px;
  font-size: 19px;
  font-weight: 500;
}

#club {
  position: absolute;
  left: 35px;
  top: 108px;
  height: 55px;
}

#face {
  position: absolute;
  left: 95px;
  top: 62px;
  height: 120px;
}

#name {
  position: absolute;
  top: 177px;
  left: 85px;
  font-size: 24px;
  font-weight: 500;
}

#information {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  position: absolute;
  top: -82px;
}

.stat, #ownership, #two_best {
  color: white;
  position: absolute;
}

#two_best {
  top: 10px;
}

#stat1 {
  top: 28px;
}

#stat2 {
  top: 51px;
}

#ownership {
  top: 75px;
}

.submit {
  outline: 0;
  border: none;
  text-align: center;
  transition: 0.5s;
}

#buy_card {
  position: absolute;
  left: 85px;
  bottom: 70px;
  padding: 6px;
  border-radius: 5px;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  background-color: rgb(58, 200, 45);
  color: white;
  cursor: pointer;
}

#buy_card:hover {
  background-color: darkgreen;
}

#update_card {
  position: absolute;
  left: 72px;
  bottom: 81px;
  padding: 4px;
  border-radius: 5px;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  background-color: #4ab0c7;
  color: white;
}

#update_card:hover {
  background-color: rgb(39, 39, 109);
  transition: 1s;
}

#delete_card {
  position: absolute;
  bottom: 45px;
  right: 73px;
  padding: 4px;
  border-radius: 5px;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  background-color: rgb(224, 90, 90);
  color: white;
  cursor: pointer;
}

#delete_card:hover {
  background-color: darkred;
  transition: 1s;
}

#goto_card {
  display: inline-block;
  width: 192px;
  height: 303px;
  position: absolute;
  left: 28px;
  top: 20px;
}

#card_owner {
  position: absolute;
  top: -27px;
  right: 87px;
  width: 67px;
  background-color: antiquewhite;
}

#choose_rating {
  text-align: center;
}

#choose_image {
  border: 1px black solid;
  background-color: white;
}

#border_club {
  border: 3px black solid;
  width: 240px;
  padding: 10px;
  background-color: lightyellow;
}

#border_image {
  border: 3px black solid;
  width: 240px;
  padding: 10px;
  background-color: lightgreen;
}

#player_names, #player_faces {
  border-left: 3px black solid;
  border-right: 3px black solid;
  width: 1000px;
  background-color: lightgreen;
  display: flex;
  justify-content: space-evenly;
}

#player_names {
  margin-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 3px black solid;
}

#player_faces {
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 3px black solid;
}

#player_clubs, #club-pics {
  border-left: 3px black solid;
  border-right: 3px black solid;
  width: 1400px;
  background-color: lightyellow;
  display: flex;
  font-size: 15px;
  justify-content: space-around;
}

#player_clubs {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
  border-top: 3px black solid;
}

#club-pics {
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 3px black solid;
}

.player_faces {
  height: 90px;
  width: 90px;
}

.player_club {
  height: 70px;
  width: 70px;
}

#all_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

#flex_edit {
  display: flex;
  justify-content: space-evenly;
}

/* flash styling  */

.flash_error {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 10px;
  font-weight: 500;
  color: black;
  background-color: lightcoral;
}

.flash_no_such_user {
  z-index: 2;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  color: red;
  position: absolute;
  left: 640px;
  top: 310px;
}

.flash_wrong_pass {
  z-index: 2;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  color: red;
  position: absolute;
  left: 640px;
  top: 400px;
}

.flash_register_sucess, .flash_sucess {
  margin-top: 10px;
  animation: flash 2s ease-in;
  animation-iteration-count: infinite;
  color: green;
  font-size: 1.2rem;
  margin-left: 10px;
  font-weight: 500;
}

.flash_wrong_confirm {
  color: red;
  top: 310px;
  left: 3px;
  font-size: 15px;
  position: absolute;
  font-weight: 500;
}

.flash_username_exist {
  z-index: 2;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  color: red;
  position: absolute;
  left: 630px;
  top: 330px;
}

@keyframes flash {
    
    0% {
      opacity: 0.5;
    }

    33% {
      opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

/* Forms Styling */

.login, .register {
  padding: 4% 0 0;
}

#logga_in, #registrera_dig {
  text-align: left;
  font-size: 30px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  /* text-align: center; */
}

.edit-form {
  position: relative;
  height: fit-content;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  padding: 45px;
  /* margin: 0 auto 100px; */
  /* text-align: center; */
}

.form input, .edit-form input, select {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
}

.form input:focus, .edit-form input:focus, select:focus {
  background: #dbdbdb;
}

#logout-form {
  position: absolute;
  top: 10px;
  right: 50px;
}

#logout-form:hover {
  cursor: pointer;
}

#logout {
  background-color:rgb(224, 90, 90);
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 18px;
}

#logout:hover {
  background-color: darkred;
  cursor: pointer;
}

#register, #login, #edit, #create_player {
  font-family: 'Comfortaa', cursive;
  background-color: #f4511e;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.7;
}

#register:hover, #login:hover, #edit:hover, #create_player:hover {
  opacity: 1;
  transition: 0.5s;
}

/* hamburger menu */

#menuToggle {
  /* display: block; */
  position: relative;
  top: -35px;
  left: 40px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;  
  /* transition: color 0.3s ease; */
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  /* transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), */
              /* background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), */
              /* opacity 0.55s ease; */
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}


#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px; 
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}